.nav-bar-container {
    padding-top: 2rem;
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    z-index: 1000;
}

.nav-bar-container-sticky {
    position: fixed;
    top: 0;
}

.nav-bar-items {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style-type: none;
    flex-wrap: wrap;
    left: auto;
    margin: auto;
    margin-top: 1rem;
}

.nav-avatar {
    position: absolute;
    left: calc(50% - 23.5rem);
    padding-top: 0.4rem;
    margin: 0 auto;
}

.nav-bar-container ul {
    display: flex;
    flex-direction: row;
}

.nav-bar-items li {
    display: flex;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    flex-direction: column;
}